@model TaskTrackingApp.Models.ViewModels.DetailsDeveloper
@{
    ViewBag.Title = "Details";

}

<h2>Details of a developer</h2>
<a href="/Developer/Edit/@Model.selectedDeveloper.DevID">Update</a>
<a href="/Developer/DeleteConfirm/@Model.selectedDeveloper.DevID">Delete</a>
<p>@Model.selectedDeveloper.DeveloperFirstName @Model.selectedDeveloper.DeveloperLastName</p>
<p>Position: @Model.selectedDeveloper.DeveloperPosition</p>
<div>
    <p>List of skills developer has:</p>
    <div style="border:1px solid grey;background-color:gainsboro;">
        @foreach (var skill in Model.skillsDeveloperHas)
        {
            <a href="/Skill/Details/@skill.SkillID">@skill.SkillName</a><a href="/Developer/Remove/@Model.selectedDeveloper.DevID?SkillID=@skill.SkillID">[x]</a>
        }
    </div>
    <div>
        <p>List of skills developer does not have:</p>
        <form method="post" action="/Developer/Add/@Model.selectedDeveloper.DevID">
            <select name="SkillID">
                @foreach (var skill in Model.skillsDeveloperDoesNotHave)
                {
                    <option value="@skill.SkillID">@skill.SkillName</option>
                }

            </select>
            <input type="submit" value="Add Skill" />
        </form>
    </div>
</div>
<div class="container">
    <div class="row table-bordered">
        <div class="col-md-2">#</div>
        <div class="col-md-2">Task description</div>
        <div class="col-md-2">Priority</div>
        <div class="col-md-2">Status</div>
    </div>
    @{
        foreach (var task in Model.assignedTasks)
        {
            <div class="row table-bordered">
                <div class="col-md-2">@task.AssignmentID</div>
                <div class="col-md-2">@task.AssignmentDesc</div>
                <div class="col-md-2">@task.getPriority()</div>
                <div class="col-md-2">@task.getStatus()</div>
            </div>
        }
    }
</div>

<!--  <table class="table">
      <thead>
          <tr>
              <th>order</th>
              <th>Task description</th>
              <th>Priority</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          @{
              foreach (var task in Model.assignedTasks)
              {
                  <tr>
                      <td>@task.AssignmentID</td>
                      <td>@task.AssignmentDesc</td>
                      <td>@task.getPriority()</td>
                      <td>@task.getStatus()</td>
                  </tr>
              }
          }


      </tbody>
  </table>
    -->
