@model TaskTrackingApp.Models.Developer
@{
    ViewBag.Title = "Edit";
}

<h2>Update developer</h2>
<form action="/Developer/Update/@Model.DevID" method="POST">
    <div style="display:none;">
        @* Pass through the animal ID *@
        <input type="text" name="DevID" value="@Model.DevID" />
    </div>
    <!--<div>
        <label>First name:</label> <input type="text" name="fname" value="@Model.SelectedAnimal.AnimalName" />
    </div>
    <div>
        <label>Weight (kg):</label> <input type="number" name="AnimalWeight" value="@Model.SelectedAnimal.AnimalWeight" />
    </div>
    <div>
        <label>Species ID:</label>

        <select name="SpeciesID">

                <option value="@species.SpeciesID">@species.SpeciesName</option>

            }
        </select>
    </div>
        -->
    <div>
        <input type="submit" value="Update Developer" />

    </div>
</form>
