@model TaskTrackingApp.Models.AssignmentDto
@{
    ViewBag.Title = "Details";
}

<a href="/Assignment/List/" class="btn btn-info">Back to the list</a>
<h2>Details of the task</h2>

<p><strong>Description</strong>: @Model.AssignmentDesc</p>
<p><strong>Assignee</strong>: @Model.DeveloperFirstName @Model.DeveloperLastName</p>

<p><strong>Status</strong>: @Model.getStatus()</p>
<p><strong>Priority</strong>: @Model.getPriority()</p>

<a href="/Assignment/Edit/@Model.AssignmentID" class="btn btn-info">Update</a>
<a href="/Assignment/DeleteConfirm/@Model.AssignmentID" class="btn btn-danger">Delete</a>