@model TaskTrackingApp.Models.AssignmentDto
@{
    ViewBag.Title = "Details";
}
<a href="/Assignment/Edit/@Model.AssignmentID">Update</a>
<a href="/Assignment/DeleteConfirm/@Model.AssignmentID">Delete</a>
<h2>Details of the assignment</h2>
<p>Description: @Model.AssignmentDesc</p>
<p>Assignee: @Model.DeveloperFirstName @Model.DeveloperLastName</p>

<p>Status: @Model.getStatus()</p>
<p>Priority: @Model.getPriority()</p>
