@model TaskTrackingApp.Models.ViewModels.UpdateAssignment
@{
    ViewBag.Title = "Edit";
    String[] statuses = { "Open", "In Progress", "Resolved", "Reopened", "Closed"};
    String[] priorities = { "Trivial", "Minor", "Major", "Critical", "Blocker" };
}

<h2>Update assignment</h2>
<form action="/Assignment/Update/@Model.relatedAssignment.AssignmentID" method="POST">
    <div style="display:none;">
        @* Pass through the animal ID *@
        <input type="number" name="AssignmentID" value="@Model.relatedAssignment.AssignmentID" />
    </div>
    <div class="form-group row">
        <label for="AssignmentDesc" class="col-sm-2">Description:</label>
        <div class="col-sm-10">
            <input type="text" id="AssignmentDesc" name="AssignmentDesc" class="form-control" value="@Model.relatedAssignment.AssignmentDesc" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Status" class="col-sm-2">Status:</label>
        <div class="col-sm-10">
            <select id="Status" name="Status" class="form-control">
                @for (var i = 0; i < @statuses.Length; i++)
                {
                    string selected = "";
                    if (statuses[i] == Model.relatedAssignment.getStatus())
                    {
                        selected = "selected";
                    }
                    <option value="@i" @selected>@statuses[i]</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="Priority" class="col-sm-2">Priority:</label>
        <div class="col-sm-10">
            <select id="Priority" name="Priority" class="form-control">
                @for (var i = 0; i < priorities.Length; i++)
                {
                    string selected = "";
                    if (priorities[i] == Model.relatedAssignment.getPriority())
                    {
                        selected = "selected";
                    }
                    <option value="@i" @selected>@priorities[i]</option>
                }
            </select>
        </div>
        
    </div>
    <div class="form-group row">
        <label for="DevID" class="col-sm-2">Developers:</label>
        <div class="col-sm-10">
            <select id="DevID" name="DevID" class="form-control">
                <option value="0"></option>
                @foreach (var developer in Model.developerDtos)
                {
                    string selected = "";
                    if (Model.relatedAssignment.DevID == developer.DevID)
                    {
                        selected = "selected";
                    }
                    <option value="@developer.DevID" @selected>@developer.DeveloperFirstName @developer.DeveloperLastName (@developer.DeveloperPosition)</option>
                }
            </select>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Update Assignment" />
    </div>
</form>