@model TaskTrackingApp.Models.ViewModels.UpdateAssignment
@{
    ViewBag.Title = "Edit";
    String[] statuses = { "Open", "In Progress", "Resolved", "Reopened", "Closed"};
    String[] priorities = { "Trivial", "Minor", "Major", "Critical", "Blocker" };
}

<h2>Update assignment</h2>
<form action="/Assignment/Update/@Model.relatedAssignment.AssignmentID" method="POST">
    <div style="display:none;">
        @* Pass through the animal ID *@
        <input type="number" name="AssignmentID" value="@Model.relatedAssignment.AssignmentID" />
    </div>
    <div>
        <label>Description:</label> <input type="text" name="AssignmentDesc" value="@Model.relatedAssignment.AssignmentDesc" />
    </div>
    <div>
        <label>Status:</label>
        <select name="Status">
            @for (var i = 0; i < @statuses.Length; i++)
            {
                string selected = "";
                if (statuses[i] == Model.relatedAssignment.StatusStr)
                {
                    selected = "selected";
                }
                <option value="@i" @selected>@statuses[i]</option>
            }
        </select>
    </div>
    <div>
        <label>Priority:</label>
        <select name="Priority">
            @for (var i = 0; i < priorities.Length; i++)
            {
                string selected = "";
                if (priorities[i] == Model.relatedAssignment.PriorityStr)
                {
                    selected = "selected";
                }
                <option value="@i" @selected>@priorities[i]</option>
            }
        </select>
    </div>
    <div>
        <label>Developers:</label>
        <select name="DevID">
            <option value="0"></option>
            @foreach (var developer in Model.developerDtos)
            {
                string selected = "";
                if (Model.relatedAssignment.DevID == developer.DevID)
                {
                    selected = "selected";
                }
                <option value="@developer.DevID" @selected>@developer.DeveloperFirstName @developer.DeveloperLastName (@developer.DeveloperPosition)</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Assignment" />
    </div>
</form>