@model IEnumerable<TaskTrackingApp.Models.AssignmentDto>
@{
    ViewBag.Title = "List";
}


<!--<p>
    @Html.ActionLink("Add new assignment", "New")
</p>
    -->
<h2>List of tasks</h2>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchData")
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
}
<div class="container">
    <div class="row table-bordered">
        <div class="col-sm-2">#</div>
        <div class="col-sm-2">Task description</div>
        <!--<div class="col-md-2">Priority</div>
        <div class="col-md-2">Status</div>
            -->
        <div class="col-sm-2">@Html.ActionLink("Priority", "List", new { SortOrder = ViewBag.PrioritySortParam })</div>
        <div class="col-sm-2">@Html.ActionLink("Status", "List", new { SortOrder = ViewBag.StatusSortParam })</div>
        <div class="col-sm-2">Assignee</div>

    </div>
    @{
        foreach (var task in Model)
        {
            var bg = "";
            if (task.getStatus() == "Closed" || task.getStatus() == "Resolved")
            {
                bg = "bg-success";
            }
            <div class="row table-bordered @bg">
                <div class="col-sm-2">@task.AssignmentID</div>
                <div class="col-sm-2">@task.AssignmentDesc</div>
                <div class="col-sm-2">@task.getPriority()</div>
                <div class="col-sm-2">@task.getStatus()</div>
                <div class="col-sm-2">@task.DeveloperFirstName @task.DeveloperLastName</div>

                <div class="col-sm-2">
                    <form action="/Assignment/Details/@task.AssignmentID" method="get">
                        <button type="submit" class="btn btn-primary" value="Details">Details</button>
                    </form>
                </div>
            </div>
        }
    }
</div>
@*@foreach (var assignment in Model)
    {
        <h2><a href="/Assignment/Details/@assignment.AssignmentID">@assignment.AssignmentDesc</a></h2>
        if (assignment.DevID != 0)
        {
            <div>Assignee: <a href="/Developer/Details/@assignment.DevID">@assignment.DeveloperFirstName @assignment.DeveloperLastName</a> </div>
        }

    }
*@
<a href="/Assignment/New" class="btn btn-success">Create a new task</a>